APP_NAME=
APP_ENV=local
APP_KEY=base64:xPAKG/2aQqRh6cHsW6jGZ7gbTDcbSODgSvFT6IIuvy4=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=water_control
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=60

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=945116
PUSHER_APP_KEY=bd1d5d92cd0fc2db2711
PUSHER_APP_SECRET=1d9671d6be803abd91a1
PUSHER_APP_CLUSTER=ap2

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FCM_API_KEY=AIzaSyBcG34wV-rLSE9AaEojRjcrRFi-OT3TUPM
FCM_SENDER_ID=994239977617
