/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    direction: rtl;
    height: 100%;
}


/*---------------------------------------------*/

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
    text-align: end;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #555555;
}

input:-moz-placeholder {
    color: #555555;
}

input::-moz-placeholder {
    color: #555555;
}

input:-ms-input-placeholder {
    color: #555555;
}

textarea::-webkit-input-placeholder {
    color: #555555;
}

textarea:-moz-placeholder {
    color: #555555;
}

textarea::-moz-placeholder {
    color: #555555;
}

textarea:-ms-input-placeholder {
    color: #555555;
}

label {
    margin: 0;
    color: #505050;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    max-width: 100%;
    text-align: initial;
    direction: rtl;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
  [ Utility ]*/

.txt1 {
    font-size: 13px;
    color: #e5e5e5;
    line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
  [ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.wrap-login100 {
    width: 390px;
    /* border-radius: 10px; */
    overflow: hidden;
    background: transparent;
}


/*------------------------------------------------------------------
  [ Form ]*/

.login100-form {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
}

.login100-form-logo {
    font-size: 60px;
    color: #f7e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.login100-form-title {
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}


/* .login .login__intro-lable {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    padding: 0 9px;
} */

.modal-open {
    overflow: hidden;
}

.modal__title {
    position: relative;
    top: -5px;
    margin-right: 3px;
}


/* .modal-body {
    position: relative;
    padding: 15px;
}
 */


/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 0px 0;
}

.input100 {
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 0 10px 0 30px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    padding: 0px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #d41872;
    background: -webkit-linear-gradient(left, #a445b2, #4a18d4, #3789f5);
    background: -o-linear-gradient(left, #a445b2, #4a18d4, #3789f5);
    background: -moz-linear-gradient(left, #a445b2, #4a18d4, #3789f5);
    background: linear-gradient(left, #a445b2, #4a18d4, #3789f5);
}

.focus-input100::after {
    font-size: 18px;
    color: #999999;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus {
    padding-left: 60px;
}

.input100:focus+.focus-input100::after {
    left: 23px;
    color: #8089a1;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::after {
    left: 23px;
    color: #184ad4;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 60px;
}


/*------------------------------------------------------------------
  [ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    border-radius: 4px;
    background: #ce7ea5;
    background: -webkit-linear-gradient(left, #508bd8, #5834d8, #8e6cc4);
    background: -o-linear-gradient(left, #508bd8, #5834d8, #8e6cc4);
    background: -moz-linear-gradient(left, #508bd8, #5834d8, #8e6cc4);
    background: linear-gradient(left, #508bd8, #5834d8, #8e6cc4);
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #80afec5e;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: transparent;
}

.login100-form-btn:hover:before {
    opacity: 1;
}


/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/* --------------------------------------my class-------------------------------------------- */

.container-index {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* z-index: 4; */
    opacity: 1;
}

.container-index::before {
    content: "";
    display: block;
    position: absolute;
    /* z-index: 4; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.356);
}

.container-index2 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: right;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    opacity: 1;
}

.container-index2::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.356);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #a9c6e993;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

#ourList {
    background-color: lightblue;
    padding: 20px;
    color: #000;
    font-size: 12px;
    background: transparent;
    -webkit-appearance: none;
}

#mode {
    background-color: rgba(209, 217, 219, 0.685);
    padding: 5px;
    color: #000;
    font-size: 12px;
}

.panel {
    background-color: #a9c6e993;
    border-radius: 3px;
    padding: 2px;
    direction: rtl;
}

.panel-heading {
    padding: 10px 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-heading>.dropdown .dropdown-toggle {
    color: inherit
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0
}

.panel-group .panel-heading {
    border-bottom: 0
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd
}

.panel-body {
    padding: 5px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd
}

.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #333
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #337ab7
}

.panel-primary>.panel-heading .badge {
    color: #337ab7;
    background-color: #fff
}

.panel-success>.panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #d6e9c6
}

.panel-success>.panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #bce8f1
}

.panel-info>.panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f
}

.panel-warning>.panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #eeebe6
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #f1efea
}

.panel-warning>.panel-heading .badge {
    color: #e6e3d8;
    background-color: #8a6d3b
}

.panel-danger>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ebccd1
}

.panel-danger>.panel-heading .badge {
    color: #f2dede;
    background-color: #a94442
}

.button5 {
    background-color: #8bb1e22c;
    color: rgb(23, 100, 7);
    border: 2px solid #555555;
    margin-top: 10px;
    margin-left: 300px;
    padding: 5px;
    border-radius: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
    margin: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6fdd7493;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}


/* .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 12px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
} */


/* input:checked+.slider {
    background-color: rgba(182, 56, 47, 0.692);
} */

input:focus+.slider {
    box-shadow: 0 0 1px rgb(99, 176, 240);
}


/* input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.ruler {
    background: #ffffff62;
    box-shadow: 0 -1px 1em hsla(60, 60%, 84%, 0.568) inset;
    border-radius: 2px;
    border-right: 6px solid #000;
    border-bottom: 1px solid rgb(80, 64, 64);
    color: #000000;
    margin: 0;
    height: 126px;
    list-style: none;
    text-align: center;
    width: 22px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    /* .navbar-collapse.collapse {
        display: none!important;
    } */
    .navbar-nav {
        float: none!important;
        margin: 7.5px 4px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


/* ......................مربوط به تغییر رمز عبور.......................   */

* {
    box-sizing: border-box
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* Full-width input fields */

input[type=text],
input[type=password],
input[type=name],
input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: right;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=name]:focus,
input[type=tel]:focus {
    background-color: #f1f1f1;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */

.registerbtn {
    background-color: rgba(76, 175, 79, 0.788);
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* ==================================================== */

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
    padding: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.well-small {
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.col {
    width: 160px;
    float: left;
}

.customBtn,
input[type=submit] {
    border: 0;
    color: #8089a1;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    /* needed for anchors */
    position: relative;
    box-shadow: 1px 0px #6ac4d4, 0px 1px #4198ae, 2px 1px #58a8b6, 1px 2px #4fa1d1, 3px 2px #569cbd, 2px 3px #4f9dd1, 4px 3px #6b9bda, 3px 4px #5f9ae7, 5px 4px #5882b9, 4px 5px #679ee6, 6px 5px #73a0db, 5px 6px #6295d8;
    &:hover,
    &:focus,
    &.hover,
    &.focus {
        transform: translate(2px, 2px);
        box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #6b9bda, 1px 2px #6b9bda, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #6b9bda;
    }
    &:active,
    &.active {
        transform: translate(4px, 4px);
        box-shadow: 1px 0px #6d93c5, 0px 1px #67a0eb, 2px 1px #6e9dda, 1px 2px #6fa3e7;
    }
}

.customBtn2,
input[type=submit] {
    border: 0;
    color: #000000;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    /* needed for anchors */
    position: relative;
    box-shadow: 1px 0px #6ac4d4, 0px 1px #4198ae, 2px 1px #58a8b6, 1px 2px #4fa1d1, 3px 2px #569cbd, 2px 3px #4f9dd1, 4px 3px #6b9bda, 3px 4px #5f9ae7, 5px 4px #5882b9, 4px 5px #679ee6, 6px 5px #73a0db, 5px 6px #6295d8;
    &:hover,
    &:focus,
    &.hover,
    &.focus {
        transform: translate(2px, 2px);
        box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #6b9bda, 1px 2px #6b9bda, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #6b9bda;
    }
    &:active,
    &.active {
        transform: translate(4px, 4px);
        box-shadow: 1px 0px #6d93c5, 0px 1px #67a0eb, 2px 1px #6e9dda, 1px 2px #6fa3e7;
    }
}


/* ====================newadded======================== */

@media(max-width :992px) {
    .dropdown {
        margin-left: 60px;
        top: 8px;
    }
}